@charset "utf-8";

html{
    font-size: 100%;
}

body{
    color: #121212;
    font-size: 1.2rem;
    line-height: 1.7;
}

a{
    color: #121212;
    text-decoration: none;
}

img{
    max-width: 100%;
}

list{
    list-style: none;
}

.site-title{
    line-height: 1px;
}


/*ハンバーガーメニューの設定*/
#nav{
    display: block;
    position: fixed;
    top: 0;
    left: -300px;
    bottom: 0;
    width: 300px;
    color: #fff;
    padding: 60px 25px;
    background-color: #121212;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    transition: all .5s;
    z-index: 20;
    opacity: 0;
}

#nav a{
    color: #fff;
}

.open #nav{
    left: 0;
    opacity: 1;
}

#nav ul{
    margin: 0;
    padding: 0;
}

#nav .nav-menu{
    margin-bottom: 60px;
    border-bottom: solid 1px #fff;
}

#nav .nav-menu li{
    position: relative;
    margin: 0;
    padding: 20px 0;
    border-bottom: solid 1px #fff;
}

#nav .nav-sns li{
    padding: 5px;
}

.toggle-btn{
    display: block;
    position: fixed;
    top: 25px;
    right: 45px;
    width: 30px;
    height: 30px;
    transition: all .5s;
    cursor: pointer;
    z-index: 20;
}

.toggle-btn span{
    display: block;
    position: absolute;
    left: 0;
    width: 30px;
    height: 2px;
    background-color: #333;
    border-radius: 4px;
    transition: all .5s;
}

.toggle-btn span:nth-child(1){
    top: 4px;
}

.toggle-btn span:nth-child(2){
    top: 14px;
}

.toggle-btn span:nth-child(3){
    bottom: 4px;
}

.open .toggle-btn span{
    background-color: #fff;
}

.open .toggle-btn span:nth-child(1){
    -webkit-transform: transformY(10px) rotate(-315deg);
    transform: transformY(10px) rotate(-315deg);
}

.open .toggle-btn span:nth-child(2){
    opacity: 0;
}

.open .toggle-btn span:nth-child(3){
    -webkit-transform: transform(10px) rotate(=315deg);
    transform: translateY(10px) rotate(-315deg);
}

#mask{
    display: none;
    transition: all .5s;
}

.open #mask{
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: .8;
    z-index: 10;
    cursor: pointer;
}

